
<mat-nav-list>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
   <a mat-list-item [routerLink]="['/home']"> Simple card </a>
</mat-nav-list>