<form class="example-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" [(ngModel)]="model.Username" name="Username">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="model.Password" name="Password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    
  </mat-form-field>

  <button mat-button type="submit">Submit</button>

</form>
